.container {
    margin: 5px 20px;
}

button {
    background: none;
    border: none;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    cursor: pointer;
    outline: none;
}
